<!--
 ! Excerpted from "Web Development with Clojure, Second Edition",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/dswdcloj2 for more book information.
-->
{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="span12">
        <h1>Select report type:</h1>
        <ul class="nav nav-pills">
            <li class="btn btn-default">
                <a href="{{servlet-context}}/list">List reports</a>
            </li>
            <li class="btn btn-default">
                <a href="{{servlet-context}}/table">Table reports</a>
            </li>
        </ul>
        {% if error %}
        <h2>An error has occurred while generating the report:</h2>
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}
    </div>
  </div>
{% endblock %}
